SQLAlchemy
fastapi
pydantic
alembic
uvicorn
asyncpg
psycopg2-binary
pydantic[email,dotenv]
python-multipart
tenacity
PyJWT
passlib
starlette~=0.20.4
emails
bidict
click
fastapi-socketio
h11
httptools
python-engineio
python-socketio
typing-extensions
# uvloop
websockets
cffi
pynacl
paramiko
pycparser
bcrypt
sshtunnel~=0.4.0
requests~=2.28.1
fastapi_utils
wheel
fastapi_jwt_auth
asgi-correlation-id
fastapi-versioning
inotify~=0.2.10
python-dotenv~=0.21.0